---
import FootprintsSvg from '../assets/footprints-blk.svg?updated';

interface Props {
	class?: string;
	iconColor?: string;
	textColor?: string;
}

const {
	class: className,
	iconColor = 'currentColor',
	textColor = 'text-primary'
} = Astro.props;
---

<div class={`flex items-center gap-0 ${className || ''}`}>
	<FootprintsSvg width={32} height={32} class="flex-shrink-0" fill={iconColor} />
	<h1 class={`text-xl ${textColor}`}>Walk Santa Cruz</h1>
</div>
